<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
.w3-sidenav a,.w3-sidenav h4 {font-weight:bold}
</style>
</head>

<html>
    <head>
        <title>SHG</title>
    </head>
    
    <body class="w3-light-grey w3-content" style="max-width:1600px">
        <nav class="w3-sidenav w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidenav"><br>
            
        <div class="w3-container">
        <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding" title="close menu">
        <i class="fa fa-remove"></i>
        </a>
        <br><br>
        <h4 class="w3-padding-0"><b>Wellcome to SHG!</b></h4>
        <p class="w3-text-grey">{{ login_name }}</p>
        </div>
        {% if login_name != "Guest" %}
            <a href="up" onclick="w3_close()" class="w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>Upload</a> 
        
            <a href="#contact" onclick="w3_close()" class="w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>Request</a>
            
            <a href="wish" onclick="w3_close()" class="w3-padding"><i class="fa fa-th-list fa-fw w3-margin-right"></i>Wish list</a>
            
            <a href="out" onclick="w3_close()" class="w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>Logout</a>
         {% else %}
            <a href="sign" onclick="w3_close()" class="w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>Login</a>
            
            <a href="reg" onclick="w3_close()" class="w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>Join us</a>
            
            
         {% endif %}
        </nav>
        <div>
            <!-- Overlay effect when opening sidenav on small screens -->
         <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
            <!-- !PAGE CONTENT! -->
        <div class="w3-main" style="margin-left:300px">
            
        <!-- Header -->
        <header class="w3-container" >
        
        <span class="w3-opennav w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
        <h1><b>All New secound hand GAME</b></h1>
        <div  class="w3-section w3-bottombar w3-padding-16">
        
        
        <form action="/" method="post">
            <span class="w3-margin-right">Filter:</span>
            <input name="search" rows="1" cols="40">
            <button class="w3-button w3-black">search</button>
        </form>
            
        
        
        </div>
        </header>   
            
        <div class="w3-row-padding">
        {% for usgame in usgamess %}
            <a href="detail?game={{usgame.key.id()}}">
            <div class="w3-third w3-container w3-margin-bottom">
                <img src="/img?img_id={{usgame.key.urlsafe()}}" alt="Norway" style="width:100%" class="w3-hover-opacity"  >
            </a>
            <div class="w3-container w3-white">
                <p><b>{{usgame.gamename}}</b></p>
                <p>{{usgame.intro}}</p>
            </div>
            </div>
        {% endfor %}
        </div>    
        
<script>
// Script to open and close sidenav
function w3_open() {
    document.getElementById("mySidenav").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidenav").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>    
    </body>
</html>