@charset "utf-8";
/* CSS Document */
html, body, h1, h2, h3, h4, h5, h6, div, span, blockquote, p, address, form, fieldset, img, ul, ol, dl, dt, dd, li, hr, table, td, th, strong, em, sup, sub, dfn, ins, del, q, cite, var, samp, code, kbd, tt, pre
{
	line-height: 1.5em;
}

body
{
	padding: 10px 30px;
}

input, textarea, select, option, optgroup, button, td, th
{
	font-size: 90%;
}

pre, code, kbd, samp, tt
{
	font-family: monospace,monospace;
	font-size: 1em;
}

body {
    width: 1024px;
    margin: 0 auto;
}
